REVOLUT_USERS_SVC_HOST=0.0.0.0
REVOLUT_USERS_SVC_PORT=8080
REVOLUT_USERS_SVC_METRICS_PORT=8081
REVOLUT_USERS_SVC_LOG_LEVEL=debug
REVOLUT_USERS_SVC_CORS_ORIGIN=*
REVOLUT_USERS_SVC_POSTGRES_HOST=localhost
REVOLUT_USERS_SVC_POSTGRES_PORT=5432
REVOLUT_USERS_SVC_POSTGRES_USERNAME=postgres
REVOLUT_USERS_SVC_POSTGRES_PASSWORD=postgres
REVOLUT_USERS_SVC_POSTGRES_DATABASE=postgres
